@media(max-width:375px)
{
    .img{
        background:url("images/image-header-desktop.jpg") hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        height:240px;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    section{
        display: flex;
        flex-direction: column-reverse;
        background-color:hsl(244, 38%, 16%);
        font-Family:'Inter',sans-serif;
        border-radius: 10px;
        margin: 15px;
    }
    h2{
        color:hsl(0, 0%, 100%) ;
        text-align: center;
        padding-left: 9px;
        font-size:25px;
        padding-right: 15px; 
        word-spacing: 5px;
    }
    span{
        color:hsl(277, 64%, 61%);
    }
    .matter{
        min-width:280px;
    }
    .stats{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info{
        font-size:15px;
        color:hsla(0, 0%, 100%, 0.6);
        padding-left: 51px; 
        padding-right: 23px; 
        word-spacing:1px;
        line-height:1.5; 
    }
    .ten,.threeonefour,.twelve{
        /* margin-right: 33px; */
        font-size:25px;
        font-Weight:bold;
        color:hsla(0, 0%, 100%, 0.9)
    }
    .comp,.temp,.query{
        margin-top:-20px;
        font-size:11px;
        font-Weight:normal;
        color:hsla(0, 0%, 100%, 0.6);
        text-transform:uppercase;
    }
    .comp,.temp{margin-left:-10px}
    body{
        background-color:hsl(233, 47%, 7%) ;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(min-width:376px) and (max-width:767px){
    .img{
        background:url("images/image-header-desktop.jpg") hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        height:300px;
        background-size: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    section{
        display: flex;
        flex-direction: column-reverse;
        background-color:hsl(244, 38%, 16%);
        font-Family:'Inter',sans-serif;
        border-radius: 10px;
        margin: 15px;
    }
    h2{
        color:hsl(0, 0%, 100%) ;
        text-align: center;
        padding-left: 9px;
        font-size:25px;
        padding-right: 15px; 
        word-spacing: 5px;
    }
    span{
        color:hsl(277, 64%, 61%);
    }
    .matter{
        width:379px;
    }
    .stats{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info{
        font-size:15px;
        color:hsla(0, 0%, 100%, 0.6);
        padding-left: 51px; 
        padding-right: 23px; 
        word-spacing:1px;
        line-height:1.5; 
    }
    .ten,.threeonefour,.twelve{
        /* margin-right: 33px; */
        font-size:25px;
        font-Weight:bold;
        color:hsla(0, 0%, 100%, 0.9)
    }
    .comp,.temp,.query{
        margin-top:-20px;
        font-size:11px;
        font-Weight:normal;
        color:hsla(0, 0%, 100%, 0.6);
        text-transform:uppercase;
    }
    .comp,.temp{margin-left:-10px}
    body{
        background-color:hsl(233, 47%, 7%) ;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}



















@media(min-width:768px)
{
    .attribution { font-size: 11px; text-align: center; color:hsl(0, 0%, 100%);}
    .attribution a { color: hsl(228, 45%, 44%); }
    .img{
        background:url("images/image-header-desktop.jpg") hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        width:790px;
        height:360px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    section{
        font-Family:'Inter',sans-serif;
        background-color:hsl(244, 38%, 16%);
        color:hsla(0, 0%, 100%, 0.6);
        display: flex;
        justify-content: space-between;
        max-width: 790px;
        max-height: 330px;
        border-radius: 10px;
        overflow: hidden;
    }
    h2{
        color:hsl(0, 0%, 100%) ;
        padding-left: 60px;
        padding-top:40px; 
        padding-right: 60px;
        word-spacing: 5px;
    }
    span{
        color:hsl(277, 64%, 61%);
    }
    .stats{
        display: flex;
        padding-left: 60px;
        padding-Top:28px;
    }
    .info{
        font-size:10px;
        padding-left: 60px; 
        padding-right: 85px; 
        padding-Top:6px;
        word-spacing:1px;
        line-height:1.5; 
    }
    .ten,.threeonefour,.twelve{
        margin-right: 33px;
        font-Weight:bold;
        color:hsla(0, 0%, 100%, 0.9)
    }
    .comp,.temp,.query{
        margin-top:-12px;
        font-size:13px;
        font-Weight:normal;
        color:hsla(0, 0%, 100%, 0.6);
        text-transform:uppercase;
    }
    body{
        background-color:hsl(233, 47%, 7%) ;
        height:100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
